
* {

	margin: 0;
	padding: 0;

}


body {
	background-color: #333;
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: 2px;
	line-height: 3px;
	color:black;
}

.col-lg-4 {

	background-color: grey;
}

.col-lg-8 {

	background-color: lightgrey;
}

